:root {
  --main-bg-color: #fffbe7;
  --card-bg-color: #f0ca90;
  --card-text-color: #5d4037;
  --title-font: 'Valera Round', sans-serif;
  --text-font: 'Hind', sans-serif;
}

body {
  font-family: var(--text-font);
  background-color: var(--main-bg-color);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--title-font);
}