:root {
  --main-bg-color: '';
  --card-bg-color: #f0ca90;
  --card-text-color: #5d4037;
  --title-font: 'Valera Round', sans-serif;
  --text-font: 'Hind', sans-serif;
}

body {
  font-family: var(--text-font);
  background-color: var(--main-bg-color);
}
